<div class="toolbar" *ngIf="!selectedMode ; else elseBlock">
  <ion-buttons>
    <ion-back-button defaultHref="/notes/more" text=""></ion-back-button>
    <div class="toolbar-title">{{'reminders'|translate}}</div>
  </ion-buttons>
</div>
<ng-template #elseBlock>
  <app-notes-selected-header [notes]="notes" (close)="deselectAll()"></app-notes-selected-header>
</ng-template>
<div class="content">
  <ngx-masonry [options]="masonryOptions" [ordered]="true" class="masonry" [ngClass]="{'masonry': viewMode === 'grid'}">
    <app-notes-card *ngFor="let note of notes | appSortNotes:sortMode:sortDirection" appLongPress (tap)="tap(note)"
      (press)="press(note)" [note]="note" ngxMasonryItem></app-notes-card>
  </ngx-masonry>
  <div class="empty-content-container" *ngIf="notes.length === 0">
    <img src="assets/images/reminder.svg" alt="Add note" width="75" height="75">
    <p>{{'noRemindersSet' | translate}}</p>
  </div>
</div>
