.searchbar {
  --background: var(--ion-card-background, var(--ion-item-background, var(--ion-background-color, #fff)));
  background-color: var(--background);
  border-radius: 200px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 10px;
  margin-bottom: 20px;

  input {
    border: 0;
    background-color: transparent;
    outline: none;
    height: auto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }

  ion-icon {
    width: 1.3125rem;
    height: 1.3125rem;
    vertical-align: middle;
  }

  .clear-icon {
    cursor: pointer;
  }

}
