<div class="toolbar" [ngClass]="{'empty':!filterMode}">
  <ion-buttons *ngIf="filterMode">
    <ion-button (click)="resetBackButton()">
      <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
  <div class="searchbar-container">
    <div class="searchbar">
      <ion-icon name="search-outline"></ion-icon>
      <input type="text" placeholder="{{'searchNotes'|translate}}" (keyup)="onSearch(searchInput.value)"
        [(ngModel)]="filterValue" #searchInput>
      <ion-icon name="close-outline" class="clear-icon" *ngIf="filterValue" (click)="onCancel('')"></ion-icon>
    </div>
  </div>
</div>
<div class="content">
  <div class="card-grid" [ngClass]="{'card-grid': viewMode === 'grid'}">
    <app-notes-card *ngFor="let note of notes" [note]="note" appLongPress (tap)="onTap(note)"></app-notes-card>
  </div>
  <ng-container *ngIf="!filterMode && !isSearch">
    <div class="categories-container">
      <h3 class="filter-title">{{'categories'|translate}}</h3>
      <ion-chip *ngFor="let category of categories" (click)="selectCategory(category)">
        {{category.name}}
      </ion-chip>
      <span *ngIf="!categories.length">{{'noCategories'|translate}}</span>
    </div>
    <div>
      <h3 class="filter-title">{{'colors'|translate}}</h3>
      <div class="colors-container">
        <span class="color" [ngStyle]="{'background-color':background}" *ngFor="let background of backgrounds"
          (click)="selectColor(background)">
        </span>
      </div>
    </div>
  </ng-container>
  <div class="empty-content-container" [ngClass]="{'ion-hide': !isSearch || notes.length > 0}">
    <img ngSrc="assets/images/not-found.svg" alt="Not found" width="200" height="200" priority>
    <p>{{'noNotesFound' | translate}}</p>
  </div>
</div>
