<div class="toolbar">
  <ion-buttons>
    <ion-button (click)="cancel()">
      <ion-icon slot="icon-only" name="close-outline"></ion-icon>
    </ion-button>
    <div class="notes-counter">{{getSelectedNotes().length}}</div>
  </ion-buttons>
  <ion-buttons>
    <ion-button (click)="checkSelection()">
      <ion-icon slot="icon-only" name="checkbox-outline"></ion-icon>
    </ion-button>
    <ion-button [disabled]="getSelectedNotes().length < 1" (click)="undelete()">
      <ion-icon slot="icon-only" src="assets/icons/undelete-outline.svg"></ion-icon>
    </ion-button>
    <ion-button [disabled]="getSelectedNotes().length < 1" (click)="isDeleteAlertOpen = true">
      <ion-icon slot="icon-only" name="trash-bin-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</div>
<ion-toast [duration]="2500" [isOpen]="isDeleteToastOpen" [buttons]="deleteToastBtns" [message]="getDeleteToastMsg()"
  (ionToastDidDismiss)="isDeleteToastOpen=false"></ion-toast>
<ion-alert [isOpen]="isDeleteAlertOpen" header="{{'deleteNote' | translate}}" [message]="getDeleteAlertMsg()"
  [buttons]="deleteAlertBtns" (ionAlertDidDismiss)="isDeleteAlertOpen = false"></ion-alert>
