<app-notes-selected-header [notes]="notes" [isCustomLayout]="true" (close)="cancel()">
  <ion-button [disabled]="getSelectedNotes().length < 1" (click)="undelete()">
    <ion-icon slot="icon-only" src="assets/icons/undelete-outline.svg"></ion-icon>
  </ion-button>
  <ion-button [disabled]="getSelectedNotes().length < 1" (click)="isDeleteAlertOpen = true">
    <ion-icon slot="icon-only" name="trash-bin-outline"></ion-icon>
  </ion-button>
</app-notes-selected-header>
<ion-alert [isOpen]="isDeleteAlertOpen" header="{{'deleteNote' | translate}}" [message]="getDeleteAlertMsg()"
  [buttons]="deleteAlertBtns" (ionAlertDidDismiss)="isDeleteAlertOpen = false"></ion-alert>
