@if(!selectedMode){
<div class="toolbar">
  <ion-buttons>
    <ion-back-button defaultHref="/notes/list" text=""></ion-back-button>
    <div class="toolbar-title">{{'categories'|translate}}</div>
  </ion-buttons>
</div>
}@else{
<app-notes-categories-selected-header [categories]="categories"
  (dismiss)="deselectAll()"></app-notes-categories-selected-header>
}
@if(!isLoading){
<div class="content">
  <ul class="categories">
    @for(category of categories; track category.id){
    <li class="category-item ion-activatable ripple-parent" appLongPress (tap)="onTap(category)"
      (press)="onPress(category)">
      <ion-ripple-effect></ion-ripple-effect>
      <div class="category-item-details">
        <ion-icon name="checkmark-sharp" [ngStyle]="{'visibility': category.isDefault ? 'visible' : 'hidden' }"
          class="category-icon category-item-icon"></ion-icon>
        <p>{{category.name}}</p>
      </div>
      @if(category.isSystem){
      <div>
        <p class="category-item-note">{{totalNotes}}</p>
      </div>
      }@else{
      @if(selectedMode){
      <div class="category-item-check-container">
        @if(!category.isSelected){
        <ion-icon name="ellipse-outline" class="category-icon"></ion-icon>
        }
        @if(category.isSelected){
        <ion-icon name="checkmark-circle" class="category-icon category-item-icon-check"></ion-icon>
        }
      </div>
      }
      @if(!selectedMode){
      <div>
        <p class="category-item-note">{{category.notesCount}}</p>
      </div>
      }
      }
    </li>
    }
  </ul>
  @if(!selectedMode){
  <div class="add-category-container">
    <ion-button expand="block" (click)="openInsertAlert()">
      <ion-icon slot="start" name="add-circle"></ion-icon>
      {{'add'|translate}} {{'category'|translate}}
    </ion-button>
  </div>
  }
</div>
}
<ion-alert [isOpen]="isInsertAlertOpen" header="{{'newCategory'| translate}}" [buttons]="alertButtons"
  [inputs]="alertInputs" (ionAlertDidDismiss)="isInsertAlertOpen = false"
  (ionAlertDidPresent)="focusAlertInput()"></ion-alert>
