<ion-modal [isOpen]="isOpen" handle="false" (ionModalDidDismiss)="onModalDismiss()"
  (ionModalWillPresent)="retriveData()" #modal>
  <ng-template>
    <div class="modal">
      <h2 class="modal-header">{{getModalTitle() | translate}}</h2>
      <div class="modal-section">
        <ion-datetime [locale]="locale" [(ngModel)]="selectedDate" [isDateEnabled]="isDateGreaterThanToday">
          <span slot="time-label">{{'time' | translate}}</span>
        </ion-datetime>
        <ion-item lines="none" *ngIf="invalidDate">
          <ion-label color="danger">{{'cannotChoosePastDate' | translate}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-select justify="space-between" [label]="repeatTranslation" [(ngModel)]="selectedRepeat"
            [value]="'no-repeat'">
            <ion-select-option [value]="selectedRepeatType.NO_SCHEDULE">{{'doesNotRepeat' |
              translate}}</ion-select-option>
            <ion-select-option [value]="selectedRepeatType.DAY">{{'daily' | translate}}</ion-select-option>
            <ion-select-option [value]="selectedRepeatType.WEEK">{{'weekly' | translate}}</ion-select-option>
            <ion-select-option [value]="selectedRepeatType.MONTH">{{'monthly' | translate}}</ion-select-option>
            <ion-select-option [value]="selectedRepeatType.YEAR">{{'yearly' | translate}}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <div class="modal-footer">
        <ion-button fill="clear" *ngIf="isEdit" (click)="delete()">{{'delete' |
          translate}}</ion-button>
        <ion-button fill="clear" (click)="modal.dismiss()">{{'cancel' | translate}}</ion-button>
        <ion-button fill="clear" (click)="save()">{{'update' | translate}}</ion-button>
      </div>
    </div>
  </ng-template>
</ion-modal>
