$cardMargin :12px;

:host {
  --card-content-color: var(--ion-card-color, var(--ion-item-color, var(--ion-color-step-550, #737373)));
  --card-title-color: var(--ion-color-step-850, #262626);
  --card-background: var(--ion-card-background, var(--ion-item-background, var(--ion-background-color, #fff)));
  --card-margin: 20px;
}

.card {
  margin: 0 0 var(--card-margin) 0;
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 10px;
  cursor: pointer;
  background: var(--card-background);
}

.card-title {
  padding-inline: 20px;
  padding-top: 20px;
  padding-bottom: 16px;
  color: var(--card-title-color);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
}

.card-content {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  color: var(--card-content-color);
  white-space: pre-line;
}

ion-searchbar {
  padding: 3px 7px 3px 7px;
}

.grid {
  column-count: 2;
  width: 100%;
  column-gap: var(--card-margin);
}

.ripple-parent {
  position: relative;
  overflow: hidden;
}

.activated {
  border: 2px solid var(--ion-color-primary);
}
