@if(!selectedMode){
<app-notes-list-header (viewChange)="changeView($event)" (sortChange)="changeSort($event)"></app-notes-list-header>
}
@if(selectedMode){
<app-notes-selected-header [notes]="notes" (dismiss)="deselectAll()"></app-notes-selected-header>
}
<div class="content">
  <ngx-masonry [options]="masonryOptions" [ordered]="true" class="masonry" [ngClass]="{'masonry': viewMode === 'grid'}">
    @for(note of notes | appSortNotes:sortMode:sortDirection; track $index){
    <app-notes-card appLongPress (tap)="tap(note)" (press)="press(note)" [note]="note" ngxMasonryItem></app-notes-card>
    }
  </ngx-masonry>
  @if(notes.length === 0){
  <div class="empty-content-container">
    <img src="assets/images/add-note.svg" alt="Add note" width="75" height="75">
    <p>{{'emptyNotes' | translate}}</p>
  </div>
  }
</div>
@if(!selectedMode){
<ion-fab slot="fixed" vertical="bottom" horizontal="end" class="add-notes-btn">
  <ion-fab-button routerLink="../save">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
}
