<app-notes-list-header *ngIf="!selectedMode"></app-notes-list-header>
<app-notes-list-selected-header *ngIf="selectedMode" (close)="deselectAll()"
  [notes]="notes"></app-notes-list-selected-header>
<div class="content">
  <div class="grid" [ngClass]="{'grid': viewMode === 'grid'}">
    <div class="card ion-activatable ripple-parent" *ngFor="let note of notes | appSortNotes:sortMode" appLongPress
      (tap)="tap(note)" (press)="press(note)" [ngClass]="{'activated':note.isSelected}">
      <ion-ripple-effect></ion-ripple-effect>
      <div class="card-title">{{note.title}}</div>
      <div class="card-content">{{note.value | appLineClamp}}</div>
    </div>
  </div>
  <div class="empty-content-container" *ngIf="notes.length === 0">
    <img src="assets/images/add-note.svg" alt="Add note" width="200" height="200">
    <p>{{'emptyNotes' | translate}}</p>
  </div>
</div>
<app-notes-list-footer *ngIf="!selectedMode"></app-notes-list-footer>
