<ion-modal [isOpen]="isOpen" [initialBreakpoint]="1" [breakpoints]="[1]" handle="false"
  (ionModalDidDismiss)="onDismiss()">
  <ng-template>
    <div class="modal">
      <div class=" modal-header modal-title">{{'changeColor' | translate}}</div>
      <div class="modal-content">
        <div class="color-container">
          <span class="color" [ngClass]="{'activated':isSelected(null)}" (click)="changeColor(undefined)">
            @if(!isSelected(null)){
            <ion-icon src="assets/icons/reset-color-outline.svg"></ion-icon>
            }
            @if(isSelected(null)){
            <ion-icon color="primary" name="checkmark-outline"></ion-icon>
            }
          </span>
          @for(background of backgrounds; track background){
          <span class="color" [ngStyle]="{'background-color':background}"
            [ngClass]="{'activated':isSelected(background)}" (click)="changeColor(background)">
            @if(isSelected(background)){
            <ion-icon color="primary" name="checkmark-outline"></ion-icon>
            }
          </span>
          }
        </div>
      </div>
    </div>
  </ng-template>
</ion-modal>
