<ion-modal [isOpen]="isOpen" [initialBreakpoint]="1" [breakpoints]="[1]" handle="false"
  (ionModalDidDismiss)="onClose()">
  <ng-template>
    <div class="modal">
      <div class=" modal-header modal-title">{{'changeColor' | translate}}</div>
      <div class="modal-content">
        <div class="color-container">
          <span class="color" [ngClass]="{'activated':isSelected(null)}" (click)="changeColor(undefined)">
            <ion-icon src="assets/icons/reset-color-outline.svg" *ngIf="!isSelected(null)"></ion-icon>
            <ion-icon color="primary" name="checkmark-outline" *ngIf="isSelected(null)"></ion-icon>
          </span>
          <span class="color" [ngStyle]="{'background-color':background}" [ngClass]="{'activated':isSelected(background)}"
            *ngFor="let background of backgrounds" (click)="changeColor(background)">
            <ion-icon color="primary" name="checkmark-outline" *ngIf="isSelected(background)"></ion-icon>
          </span>
        </div>
      </div>
    </div>
  </ng-template>
</ion-modal>
