ion-modal {
  --height: auto;
}

.modal {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--ion-padding);
  overflow: auto;
  max-height: 90vh;
}

.modal-header {
  padding-bottom: var(--ion-padding);
  margin-bottom: 10px;
}

.modal-title {
  --color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.54);
  color: var(--color, rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.54));
}

.modal-content {
  height: 100%;
  display: grid;
  row-gap: var(--ion-padding);
}

.color-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.activated {
  border: 2px solid var(--ion-color-primary);
}
