<div class="toolbar">
  <ion-buttons>
    <ion-button>
      <ion-icon name="menu-outline" slot="icon-only"></ion-icon>
    </ion-button>
    <span class="app-title">Notepal</span>
  </ion-buttons>
  <ion-buttons>
    <ion-button (click)="changeView(viewModeType.LIST)" *ngIf="isGridView()">
      <ion-icon name="list-outline" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button (click)="changeView(viewModeType.GRID)" *ngIf="!isGridView()">
      <ion-icon name="grid-outline" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button (click)="openSortModal(true)">
      <ion-icon name="funnel-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
</div>
<ion-modal #sortModal [isOpen]="isSortModalOpen" [initialBreakpoint]="1" [breakpoints]="[1]" handle="false"
  (ionModalDidDismiss)="openSortModal(false)">
  <ng-template>
    <div class="block">
      <ion-content class="ion-padding">
        <ion-radio-group [value]="sortMode" (ionChange)="changeSort($event)">
          <div class="grid-radio">
            <div class="sort-title">{{'sortBy' | translate}}</div>
            <div class="radio-div">
              <ion-radio [value]="sortModeType.AZ" labelPlacement="end">{{'name' | translate}} A-Z</ion-radio>
            </div>
            <div class="radio-div">
              <ion-radio [value]="sortModeType.ZA" labelPlacement="end">{{'name' | translate}} Z-A</ion-radio>
            </div>
            <div class="radio-div">
              <ion-radio [value]="sortModeType.MODIFIED_DATE" labelPlacement="end">{{'modifiedDate' |
                translate}}</ion-radio>
            </div>
          </div>
        </ion-radio-group>
      </ion-content>
    </div>
  </ng-template>
</ion-modal>
