<div class="toolbar">
  <img src="assets/images/logo.png" alt="Add note" class="logo">
  <ion-buttons>
    <ion-button routerLink="../categories">
      <ion-icon name="folder-outline" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button (click)="isSortModalOpen = true">
      <ion-icon name="swap-vertical-outline" slot="icon-only"></ion-icon>
    </ion-button>
    @if(isGridView()){
    <ion-button (click)="changeView(viewModeType.LIST)">
      <ion-icon name="list-outline" slot="icon-only"></ion-icon>
    </ion-button>
    }
    @if(!isGridView()){
    <ion-button (click)="changeView(viewModeType.GRID)">
      <ion-icon name="grid-outline" slot="icon-only"></ion-icon>
    </ion-button>
    }
  </ion-buttons>
</div>
<ion-modal [isOpen]="isSortModalOpen" handle="false" (ionModalDidDismiss)="isSortModalOpen = false">
  <ng-template>
    <div class="modal">
      <h2 class="modal-header">{{'filters' | translate}}</h2>
      <div class="modal-section">
        <div class="modal-section-title">{{'sortBy' | translate}}</div>
        <ion-radio-group [(ngModel)]="sortMode">
          <div class="radio-group-row">
            <span>
              <ion-radio [value]="sortModeType.MODIFIED_DATE" labelPlacement="end">{{'modifiedDate' |
                translate}}</ion-radio>
            </span>
            <span>
              <ion-radio [value]="sortModeType.NAME" labelPlacement="end">{{'name' | translate}}</ion-radio>
            </span>
          </div>
        </ion-radio-group>
      </div>
      <div class="modal-section">
        <div class="modal-section-title">{{'range' | translate}}</div>
        <ion-radio-group [(ngModel)]="sortDirection">
          <div class="radio-group-row">
            <span>
              <ion-radio [value]="sortDirectionType.ASCENDING" labelPlacement="end">{{'ascending' |
                translate}}</ion-radio>
            </span>
            <span>
              <ion-radio [value]="sortDirectionType.DESCENDING" labelPlacement="end">{{'descending' |
                translate}}</ion-radio>
            </span>
          </div>
        </ion-radio-group>
      </div>
      <div class="modal-footer">
        <ion-button fill="clear" (click)="sortModal.dismiss()">{{'cancel' | translate}}</ion-button>
        <ion-button fill="clear" (click)="changeSort()">{{'update' | translate}}</ion-button>
      </div>
    </div>
  </ng-template>
</ion-modal>
