:host {
  background-color: var(--ion-color-light);
}

.app-title {
  font-size: 1.375rem;
  font-weight: 600;
}

ion-modal {
  --height: auto;
}

.sort-container {
  width: 100%;
  height: 215px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sort-title {
  --color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.54);
  color: var(--color, rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.54));
  padding-bottom: 20px;
}

.sort-content {
  height: 100%;
  display: grid;
  row-gap: 20px;
}
