:host {
  display: block;
  --margin: 16px;
  --margin--: calc(var(--margin) * -1);
}

.toolbar {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-right: var(--margin--);
  margin-left: var(--margin--);
}

.app-title {
  font-size: 1.375rem;
  font-weight: 600;
}

ion-modal {
  --height: auto;
}

.block {
  width: 100%;
  height: 215px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sort-title {
  --color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.54);
  padding-bottom: 20px;
  color: var(--color, rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.54));
}

.grid-radio {
  height: 100%;
  display: grid;
  row-gap: 20px;
}
