<div class="toolbar">
  <span class="app-title">Notepal</span>
  <ion-buttons>
    <ion-button (click)="changeView()">
      <ion-icon name="grid-outline" slot="icon-only" *ngIf="isGridView"></ion-icon>
      <ion-icon name="list-outline" slot="icon-only" *ngIf="!isGridView"></ion-icon>
    </ion-button>
    <ion-button (click)="openSortModal(true)">
      <ion-icon name="filter-outline" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon name="ellipsis-vertical" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
</div>
<ion-modal #sortModal [isOpen]="isSortModalOpen" [initialBreakpoint]="1" [breakpoints]="[1]" handle="false"
  (ionModalDidDismiss)="openSortModal(false)">
  <ng-template>
    <div class="block">
      <ion-content class="ion-padding">
        <ion-radio-group [value]="sortMode" (ionChange)="changeSort($event)">
          <div class="grid-radio">
            <div class="sort-title">{{'sortBy' | translate}}</div>
            <div class="radio-div">
              <ion-radio value="az" labelPlacement="end">{{'name' | translate}} A-Z</ion-radio>
            </div>
            <div class="radio-div">
              <ion-radio value="za" labelPlacement="end">{{'name' | translate}} Z-A</ion-radio>
            </div>
            <div class="radio-div">
              <ion-radio value="modifiedDate" labelPlacement="end">{{'modifiedDate' | translate}}</ion-radio>
            </div>
          </div>
        </ion-radio-group>
      </ion-content>
    </div>
  </ng-template>
</ion-modal>
