.content {
  background-color: unset !important;
}

ion-label {
  padding-left: 2px;
  font-size: 0.75rem;
  color: #ababab;
}

ion-input {
  font-size: 1.375rem;
  --border-color: none;
  --highlight-color-invalid: none;
  --highlight-color-valid: none;
  --highlight-color-focused: none;
}

ion-textarea {
  margin-top: 15px;
  --border-color: none;
  --highlight-color-invalid: none;
  --highlight-color-valid: none;
  --highlight-color-focused: none;
}
