:host{
  --ngx-editor-text-color: var(--color) !important;
}

.content {
  background-color: inherit;
}

.edit-date {
  padding-left: 2px;
  font-size: 0.75rem;
  color: var(--ion-color-step-550, #737373);
}

ion-input {
  font-size: 1.375rem;
  --border-color: none;
  --highlight-color-invalid: none;
  --highlight-color-valid: none;
  --highlight-color-focused: none;
}

ion-textarea {
  margin-top: 15px;
  --border-color: none;
  --highlight-color-invalid: none;
  --highlight-color-valid: none;
  --highlight-color-focused: none;
}

ion-popover {
  --width: 200px;
}

.meta-container {
  margin: 10px -4px 10px -4px;
}

.note-editor {
  padding-top: 18px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}
