<div class="toolbar">
  <ion-buttons>
    <ion-button (click)="back()">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons>
    <ion-button (click)="pin()" *ngIf="!note.pinned">
      <ion-icon slot="icon-only" src="assets/icons/push-pin-outline.svg"></ion-icon>
    </ion-button>
    <ion-button (click)="pin()" *ngIf="note.pinned">
      <ion-icon slot="icon-only" src="assets/icons/push-pin.svg"></ion-icon>
    </ion-button>
    <ion-button (click)="checkReminder()" *ngIf="!note.reminderId">
      <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
    </ion-button>
    <ion-button (click)="checkReminder()" *ngIf="note.reminderId">
      <ion-icon slot="icon-only" name="notifications"></ion-icon>
    </ion-button>
    <ion-button (click)="isColorPickerOpen = true">
      <ion-icon slot="icon-only" name="color-palette-outline"></ion-icon>
    </ion-button>
    <app-notes-menu [selectedNotes]="[note]"></app-notes-menu>
  </ion-buttons>
</div>
<div class="content">
  <form [formGroup]="form">
    <ion-input placeholder="{{ 'title' | translate }}" formControlName="title"></ion-input>
    <ion-label>{{note.lastModifiedDate | date:'longDate':timezone:locale }}</ion-label>
    <ion-textarea [autoGrow]="true" placeholder="{{ 'note' | translate }}" formControlName="value"
      #textArea></ion-textarea>
  </form>
</div>
<app-notes-color-picker [selectedNotes]="[note]" [isOpen]="isColorPickerOpen"
  (close)="isColorPickerOpen=false"></app-notes-color-picker>
<app-notes-manage-reminder [note]="note" [isOpen]="isReminderOpen"
  (close)="isReminderOpen = false"></app-notes-manage-reminder>
<ion-toast [duration]="2500" [isOpen]="isToastOpen" (ionToastDidDismiss)="isToastOpen=false"
  [message]="toastMessage"></ion-toast>
