<div class="toolbar">
  <ion-buttons>
    <ion-button (click)="back()">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  @if(!note.archived && !note.deleted){
  <ion-buttons>
    @if(!note.pinned){
    <ion-button (click)="pin()">
      <ion-icon slot="icon-only" src="assets/icons/push-pin-outline.svg"></ion-icon>
    </ion-button>
    }
    @if(note.pinned){
    <ion-button (click)="pin()">
      <ion-icon slot="icon-only" src="assets/icons/push-pin.svg"></ion-icon>
    </ion-button>
    }
    @if(!note.reminderId){
    <ion-button (click)="checkReminder()">
      <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
    </ion-button>
    }
    @if(note.reminderId){
    <ion-button (click)="checkReminder()">
      <ion-icon slot="icon-only" name="notifications"></ion-icon>
    </ion-button>
    }
    <ion-button (click)="isColorPickerOpen = true">
      <ion-icon slot="icon-only" name="color-palette-outline"></ion-icon>
    </ion-button>
    <ion-button id="more-options-trigger">
      <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
    </ion-button>
    <ion-popover trigger="more-options-trigger" triggerAction="click" [dismissOnSelect]="true">
      <ng-template>
        <ion-list>
          <ion-item [button]="true" lines="none" (click)="isMoveModalOpen = true">
            <ion-label>{{'move'|translate}}</ion-label>
          </ion-item>
          <ion-item [button]="true" lines="none" (click)="share()">
            <ion-label>{{'share'|translate}}</ion-label>
          </ion-item>
          <ion-item [button]="true" lines="none" (click)="archive(true)">
            <ion-label>{{'archive'|translate}}</ion-label>
          </ion-item>
          <ion-item [button]="true" lines="none" (click)="delete(true)">
            <ion-label>{{'delete'|translate}}</ion-label>
          </ion-item>
        </ion-list>
      </ng-template>
    </ion-popover>
  </ion-buttons>
  }@else{
  @if(note.archived && !note.deleted){
  <ion-buttons>
    <ion-button (click)="archive(false)">
      <ion-icon slot="icon-only" src="assets/icons/unarchive-outline.svg"></ion-icon>
    </ion-button>
  </ion-buttons>
  }
  @if(note.deleted){
  <ion-buttons>
    <ion-button (click)="delete(false)">
      <ion-icon slot="icon-only" src="assets/icons/undelete-outline.svg"></ion-icon>
    </ion-button>
    <ion-button (click)="isDeleteAlertOpen = true">
      <ion-icon slot="icon-only" name="trash-bin-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  }
  }
</div>
<div class="content">
  <form class="form-container" [formGroup]="form">
    <ion-input placeholder="{{ 'title' | translate }}" formControlName="title"></ion-input>
    <ion-label class="edit-date"><span>{{'lastModified'|translate}}: </span>{{note.lastModifiedDate |
      appDatePipe:'short'
      }}<span></span></ion-label>
    @if(note.categoryId || note.reminderId){
    <div class="meta-container">
      @if(note.reminderId){
      <ion-chip (click)="checkReminder()">
        <ion-icon name="alarm-outline"></ion-icon>
        <ion-label appReminderDate [reminderDate]="note.reminderDate">{{note.reminderDate |
          appDatePipe:'long'}}</ion-label>
      </ion-chip>
      }
      @if(note.categoryId){
      <ion-chip (click)="isMoveModalOpen = true">
        <ion-icon name="pricetag-outline"></ion-icon>
        <ion-label>{{note.categoryName}}</ion-label>
      </ion-chip>
      }
    </div>
    }
    <div class="note-editor">
      <ngx-editor [editor]="editor" placeholder="{{ 'note' | translate }}" (focusIn)="isEditorFocus=true"
        (focusOut)="isEditorFocus = false" formControlName="value"></ngx-editor>
    </div>
  </form>
</div>
@if(isEditorFocus){
<app-notes-editor-tools (mousedown)="keepFocus($event)" [editor]="editor"></app-notes-editor-tools>
}
<app-notes-color-picker [selectedNotes]="[note]" [isOpen]="isColorPickerOpen"
  (dismiss)="isColorPickerOpen=false"></app-notes-color-picker>
<app-notes-manage-reminder [note]="note" [isOpen]="isReminderOpen"
  (dismiss)="isReminderOpen = false"></app-notes-manage-reminder>
<app-notes-move [selectedNotes]="[note]" [isOpen]="isMoveModalOpen"
  (dismiss)="isMoveModalOpen = false"></app-notes-move>
<ion-toast [duration]="toastDuration" [isOpen]="isToastOpen" (ionToastDidDismiss)="isToastOpen=false"
  [message]="toastMessage"></ion-toast>
<ion-alert [isOpen]="isDeleteAlertOpen" header="{{'deleteNote' | translate}}"
  message="{{'deleteNoteForever'|translate}}" [buttons]="deleteAlertBtns"
  (ionAlertDidDismiss)="isDeleteAlertOpen = false"></ion-alert>
