<ion-content color="light">
  <ion-list [inset]="true">
    <ion-item [button]="true">
      <ion-icon name="notifications-outline" slot="start"></ion-icon>
      <ion-label>{{'reminder'|translate}}</ion-label>
    </ion-item>
    <ion-item [button]="true" routerLink="/notes/archive">
      <ion-icon name="archive-outline" slot="start"></ion-icon>
      <ion-label>{{'archivePage'|translate}}</ion-label>
    </ion-item>
    <ion-item [button]="true" routerLink="/notes/trash">
      <ion-icon name="trash-outline" slot="start"></ion-icon>
      <ion-label>{{'trash'|translate}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list [inset]="true">
    <ion-item [button]="true">
      <ion-icon name="settings-outline" slot="start"></ion-icon>
      <ion-label>{{'settings'|translate}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
