<div class="toolbar tools">
  <ion-buttons>
    <ion-button (click)="generateCheckBox()">
      <ion-icon slot="icon-only" name="checkbox-outline"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon slot="icon-only" name="brush-outline"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon slot="icon-only" name="text-outline"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon slot="icon-only" src="assets/icons/add-photo-outline.svg"></ion-icon>
    </ion-button>
  </ion-buttons>
</div>
