<div class="card ion-activatable ripple-parent" [ngClass]="{'activated':note.isSelected}"
  [ngStyle]="{'background':note.background}">
  @if(note.pinned){
  <span class="pinned">
    <ion-icon color="primary" src="assets/icons/push-pin.svg"></ion-icon>
  </span>
  }
  <ion-ripple-effect></ion-ripple-effect>
  <div class="card-title">{{note.title}}</div>
  <div class="card-content">
    <div class="overlay"></div>
    <div [innerHTML]="note.value"></div>
    @if(note.reminderId || note.categoryId){
    <div class="date-reminder">
      @if(note.reminderId){
      <div>
        <ion-icon name="alarm-outline"></ion-icon>
        <span appReminderDate [reminderDate]="note.reminderDate">{{note.reminderDate | appDatePipe:'long'}}</span>
      </div>
      }
      @if(note.categoryId){
      <div>
        <ion-icon name="pricetag-outline"></ion-icon>
        <span>{{note.categoryName}}</span>
      </div>
      }
    </div>
    }
  </div>
</div>
