/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

:root {
  --ion-padding: 16px;
  --content-margin: 16px;
  --content-margin--: calc(var(--content-margin) * -1);
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: var(--ion-padding);
  background-color: var(--ion-color-light);
  overflow: auto;
}

.empty-content-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.card-grid {
  column-count: 2;
  width: 100%;
  column-gap: 20px
}

.ripple-parent {
  position: relative;
  overflow: hidden;
}

ion-fab.add-notes-btn {
  margin-bottom: calc(var(--ion-safe-area-bottom, 0) + 10px);
  right: var(--content-margin);

  ion-fab-button {
    width: 52px;
    height: 52px;

    ion-icon {
      font-size: 32px;
    }
  }
}

.color {
  width: 40px;
  border-radius: 50%;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;

  ion-icon {
    font-size: 1.375rem;
  }

}

ngx-masonry {
  app-notes-card {
    width: 100%;
  }

  &.masonry {
    app-notes-card {
      width: calc(50% - 10px);
    }
  }
}

.toolbar {
  justify-content: space-between;
  display: flex;
  align-items: center;

  .toolbar-title {
    font-weight: 500;
    font-size: 1.25rem;
    margin-left: 5px;
  }
}

html[mode="ios"] .toolbar {
  padding: 8px 11px 8px 11px;
}

html[mode="md"] .toolbar {
  padding: 4px;
}

.notes-counter {
  color: var(--ion-color-step-850, #262626);
  font-weight: 500;
  font-size: 1.25rem;
  margin-left: 5px;
}

body.dark .logo {
  filter: brightness(0) invert(1);
}


[contenteditable] {
  outline: 0px solid transparent;

  &:empty:before {
    content: attr(title);
    opacity: 0.6;
  }
}
