<ion-datetime presentation="date" [highlightedDates]="highlightedDates" (ionChange)="showNotes($event)"
  [locale]="locale" [firstDayOfWeek]="firstDayOfWeek"></ion-datetime>
<div class="content">
  <ngx-masonry [options]="masonryOptions" [ordered]="true" class="masonry" [ngClass]="{'masonry': viewMode === 'grid'}">
    @for(note of notes | appSortNotes:sortMode:sortDirection ; track $index){
    <app-notes-card [note]="note" ngxMasonryItem appLongPress (tap)="tap(note)"></app-notes-card>
    }
  </ngx-masonry>
  @if(isEmpty){
  <div class="empty-content-container">
    <p>{{'noNotesHere' | translate}}</p>
  </div>
  }
</div>
<ion-fab slot="fixed" vertical="bottom" horizontal="end" class="add-notes-btn">
  <ion-fab-button routerLink="/notes/save" [queryParams]="{creationDate:selectedDate}" [disabled]="!isInsertBtnEnabled">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
