<ion-datetime presentation="date" [highlightedDates]="highlightedDates" (ionChange)="showNotes($event)"
  [locale]="locale"></ion-datetime>
<div class="content">
  <div [ngClass]="{'card-grid': viewMode === 'grid'}">
    <app-notes-card *ngFor="let note of notes  | appSortNotes:sortMode" [note]="note" routerLink="/notes/save"
      [queryParams]="{id: note.id}"></app-notes-card>
  </div>
  <div class="empty-content-container" *ngIf="isEmpty">
    <p>{{'noNotesHere' | translate}}</p>
  </div>
</div>
<ion-fab slot="fixed" vertical="bottom" horizontal="end" class="add-notes-btn">
  <ion-fab-button routerLink="/notes/save" [queryParams]="{date:selectedDate}">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
