<ion-datetime presentation="date" [highlightedDates]="highlightedDates" (ionChange)="showNotes($event)"
  [locale]="locale"></ion-datetime>
<div class="content">
  <ngx-masonry [options]="masonryOptions" class="masonry" [ngClass]="{'masonry': viewMode === 'grid'}">
    <app-notes-card *ngFor="let note of notes  | appSortNotes:sortMode:sortDirection" [note]="note"
      ngxMasonryItem></app-notes-card>
  </ngx-masonry>
  <div class="empty-content-container" *ngIf="isEmpty">
    <p>{{'noNotesHere' | translate}}</p>
  </div>
</div>
<ion-fab slot="fixed" vertical="bottom" horizontal="end" class="add-notes-btn">
  <ion-fab-button routerLink="/notes/save" [queryParams]="{creationDate:selectedDate}">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
