<div class="toolbar">
  <ion-buttons>
    <ion-button (click)="cancel()">
      <ion-icon slot="icon-only" name="close-outline"></ion-icon>
    </ion-button>
    <div class="notes-counter">{{getSelectedNotes().length}}</div>
  </ion-buttons>
  <ion-buttons>
    <ion-button>
      <ion-icon slot="icon-only" name="checkbox-outline"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon slot="icon-only" name="archive-outline"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</div>
