<div class="toolbar">
  <ion-buttons>
    <ion-button (click)="cancel()">
      <ion-icon slot="icon-only" name="close-outline"></ion-icon>
    </ion-button>
    <div class="notes-counter">{{getSelectedNotes().length}}</div>
  </ion-buttons>
  <ion-buttons>
    <ion-button (click)="checkSelection()">
      <ion-icon slot="icon-only" name="checkbox-outline"></ion-icon>
    </ion-button>
    <ion-button [disabled]="!isSelected()" (click)="checkPinned()">
      <ion-icon slot="icon-only" src="assets/icons/push-pin-outline.svg"></ion-icon>
    </ion-button>
    <ion-button [disabled]="!isSelected()" (click)="isColorPickerOpen = true">
      <ion-icon slot="icon-only" name="color-palette-outline"></ion-icon>
    </ion-button>
    <app-notes-menu [selectedNotes]="getSelectedNotes()"></app-notes-menu>
  </ion-buttons>
</div>
<app-notes-color-picker [isOpen]="isColorPickerOpen" (close)="isColorPickerOpen = false"
  [selectedNotes]="getSelectedNotes()"></app-notes-color-picker>
