<div class="toolbar">
  <ion-buttons>
    <ion-button (click)="cancel()">
      <ion-icon slot="icon-only" name="close-outline"></ion-icon>
    </ion-button>
    <div class="notes-counter">{{getSelectedNotes().length}}</div>
  </ion-buttons>
  <ion-buttons>
    <ion-button (click)="checkSelection()">
      <ion-icon slot="icon-only" name="checkbox-outline"></ion-icon>
    </ion-button>
    <ion-button [disabled]="!isSelected()" (click)="checkPinned()">
      <ion-icon slot="icon-only" src="assets/icons/push-pin-outline.svg"></ion-icon>
    </ion-button>
    <ion-button [disabled]="!isSelected()" (click)="isColorPickerOpen = true">
      <ion-icon slot="icon-only" name="color-palette-outline"></ion-icon>
    </ion-button>
    <ion-button [disabled]="!isSelected()" id="more-options-trigger">
      <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
    </ion-button>
  </ion-buttons>
</div>
<app-notes-delete-alert [isOpen]="isDeleteAlertOpen" (close)="isDeleteAlertOpen = false"
  [notes]="getSelectedNotes()"></app-notes-delete-alert>
<ion-toast [duration]="2500" [isOpen]="isArchiveToastOpen" #archiveToast (ionToastDidDismiss)="isArchiveToastOpen=false"
  [buttons]="archiveToastButtons"></ion-toast>
<ion-popover trigger="more-options-trigger" triggerAction="click" [dismissOnSelect]="true">
  <ng-template>
    <ion-list>
      <ion-item [button]="true" lines="none" (click)="isMoveOpen = true">
        <ion-label>{{'move'|translate}}</ion-label>
      </ion-item>
      <ion-item [button]="true" lines="none" (click)="archiveNotes()">
        <ion-label>{{'archive'|translate}}</ion-label>
      </ion-item>
      <ion-item [button]="true" lines="none" (click)="isDeleteAlertOpen = true">
        <ion-label>{{'delete'|translate}}</ion-label>
      </ion-item>
      <ion-item [button]="true" lines="none">
        <ion-label>{{'share'|translate}}</ion-label>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-popover>
<app-notes-color-picker [isOpen]="isColorPickerOpen" (close)="isColorPickerOpen = false"
  [selectedNotes]="getSelectedNotes()"></app-notes-color-picker>
<app-notes-move [isOpen]="isMoveOpen" (close)="isMoveOpen = false"
  [selectedNotes]="getSelectedNotes()"></app-notes-move>
