<ion-modal [isOpen]="isOpen" (ionModalDidDismiss)="onDismiss()" [initialBreakpoint]="1" [breakpoints]="[1]"
  handle="false">
  <ng-template>
    <div class="modal">
      <div class=" modal-header modal-title">{{'selectCategory' | translate}}</div>
      @if(categories$ | async; as categories ){
        <ion-radio-group [value]="defaultValue" (ionChange)="updateCategory($event)" #radioGroup>
          <div class="sort-modal-content">
            <div>
              <ion-radio [value]="0" labelPlacement="end">{{'all' | translate}}</ion-radio>
            </div>
            @for(category of categories; track $index){
            <div>
              <ion-radio [value]="category.id" labelPlacement="end">{{category.name}}</ion-radio>
            </div>
            }
          </div>
        </ion-radio-group>
      }
    </div>
  </ng-template>
</ion-modal>
