@if(!selectedMode){
<div class="toolbar">
  <ion-buttons>
    <ion-back-button defaultHref="/notes/more" text=""></ion-back-button>
    <div class="toolbar-title">{{'archivePage'|translate}}</div>
  </ion-buttons>
</div>
}@else{
<app-notes-archive-selected-header [notes]="notes" (dismiss)="deselectAll()"></app-notes-archive-selected-header>
}
<div class="content">
  <ngx-masonry [options]="masonryOptions" [ordered]="true" class="masonry" [ngClass]="{'masonry': viewMode === 'grid'}">
    @for(note of notes | appSortNotes:sortMode:sortDirection; track $index){
    <app-notes-card appLongPress (tap)="tap(note)" (press)="press(note)" [note]="note" ngxMasonryItem></app-notes-card>
    }
  </ngx-masonry>
  @if(notes.length === 0){
  <div class="empty-content-container">
    <img src="assets/images/archive.svg" alt="Add note" width="75" height="auto">
    <p>{{'emptyArchive' | translate}}</p>
  </div>
  }
</div>
