:host {
  background-color: var(--ion-color-light);
  --card-content-color: var(--ion-card-color, var(--ion-item-color, var(--ion-color-step-550, #737373)));
  --card-background: var(--ion-card-background, var(--ion-item-background, var(--ion-background-color, #fff)));
  --card-margin: 12px;
}

.title {
  font-weight: 500;
  font-size: 1.25rem;
  margin-left: 5px;
}
